.ribcage-day-picker{
    overflow: hidden;
}

.ribcage-day-picker .datepicker-arrow{
    cursor: pointer;
    padding: 10px;
}
.ribcage-day-picker .leftArrow{
    float: left;
}
.ribcage-day-picker .rightArrow{
    float: right;
}
.ribcage-day-picker .datepicker-arrow span{
    display: block;
    width: 10px;
    height: 14px;
    background: url('img/app/daypicker-arrows.png') no-repeat scroll 0 0;
}
.ribcage-day-picker .leftArrow span{
    background-position: 0 0;
}
.ribcage-day-picker .rightArrow span{
    background-position: 0 -34px;
}

.ribcage-day-picker .date{
    margin: 10px 30px;
    padding: 0;
    color: #6b6b6b;
    font-size: 16px;
    line-height: 1;
    text-align: center;
}

/*--- Retina Media Query ---*/
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (   -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (           min-resolution: 192dpi),
only screen and (            min-resolution: 2dppx){

    .ribcage-day-picker .datepicker-arrow span{
        background: url('img/app/daypicker-arrows@2x.png') no-repeat scroll 0 0;
        background-size: 9px 48px;
    }
    .ribcage-day-picker .leftArrow span{
        background-position: 0 0;
    }
    .ribcage-day-picker .rightArrow span{
        background-position: 0 -34px;
    }
}


/*.ribcage-day-picker {
  display: -ms-flexbox;
  -ms-box-orient: horizontal;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;

  width: 100%;
}

.ribcage-day-picker .leftArrow {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}

.ribcage-day-picker .date {
  width: 100px;
}

.ribcage-day-picker .rightArrow {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.leftArrow i,
.rightArrow i {
    display:inline-block;
    width: .5em;
    height: .7em;
    position: relative;
    margin-top: 24px;
}
.leftArrow i:before,
.leftArrow i:after,
.rightArrow i:before,
.rightArrow i:after {
    display:block;
    content:"";
    width:0;
    height:0em;
    border-style:solid;
    position:absolute;
}
.leftArrow i:before {
    left:0;
    border-width:.4em .4em .4em 0;
    border-color:transparent #0078e7 transparent transparent;
}
.leftArrow i:after {
    right:0;
    border-width:.4em .4em .4em 0;
    border-color:transparent #f6f6f8 transparent transparent;
}
.rightArrow i:before {
    right:0;
    border-width:.4em 0 .4em .4em;
    border-color:transparent transparent transparent #0078e7;
}
.rightArrow i:after {
    left:0;
    border-width:.4em 0 .4em .4em;
    border-color:transparent transparent transparent #f6f6f8;
}*/